//compile --> sass variables.scss:variables.css
//Autocompile when detect changes --> sass --watch variables.scss:variables.css
$color: blue;

ul {
    font-size: 14px;
    color: $color;
}

ol {
    font-size: 18px;
    color: $color;
}